.navigation-container{
  width: 100%;
  height: 65px;
  display: grid;
  grid-template-columns: 100px calc(100% - 200px) 100px;
  justify-items: center;
  align-content: center;
  background: linear-gradient(135deg,#0143a3,#0273d4);

  .logo-container{
    a{
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
      align-self: center;
    }
  }

  .auth-user-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .d-inline-block{
      img{
        border-radius: 100%;
        border: 2px solid yellow;
      }
      span{
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
      }
    }

    img{
      width: 50px;
      height: auto;
    }

    a{
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
      align-self: center;
    }
  }
}
