<div class="page-wrapper">
  <div class="card-header h3 p-1 border-0" style="text-align: center;">
    {{ 'lead.leadCreation' | translate }}
  </div>
  <div class="wrapper wrapper--w900">

            <form #formEnd="ngForm" >

              <div class="form-row border-0">
                <div class="name">Products</div>
                  <div class="value">
                      <div class="input-group">
                          <textarea class="textarea--style-6" name="message" placeholder="What products do you need?"
                          name="products"
                          required
                          [(ngModel)]="model.leadProducts"
                          ></textarea>
                      </div>
                </div>
              </div>

              <div class="form-row border-0">
                  <div class="name">Phone Number</div>
                  <div class="value">
                      <input class="input--style-6" type="text" name="phoneNumber"
                        [(ngModel)]="model.phoneNumber"
                        maxlength="10" minlength="10" required #phoneNumber='ngModel'
                      >
                      <div style="font-size: 0.6rem;margin-top: 5px" *ngIf="phoneNumber.invalid && phoneNumber.hasError('minlength')">
                        Numarul de telefon trebuie sa aiba o lungime de 10 cifre!
                      </div>
                  </div>
              </div>

              <div class="form-row border-0">
                <div class="name">Delivary Address</div>
                <div class="value">
                    <input class="input--style-6" type="text" name="delivaryAddress"
                      required="true"
                      [(ngModel)]="model.delivaryAddress"
                    >
                </div>
              </div>

              <div class="form-row border-0">
                  <label for="email" class="name">Email address</label>
                  <div class="value">
                      <div class="input-group">
                          <input id="email" class="input--style-6" type="email" name="email" placeholder="example@email.com"
                            required="true"
                            [(ngModel)]="model.email"
                          >
                      </div>
                      <div style="font-size: 0.6rem;margin-top: 5px" *ngIf="phoneNumber.invalid && phoneNumber.hasError('minlength')">
                        Numarul de telefon trebuie sa aiba o lungime de 10 cifre!
                      </div>
                  </div>
              </div>

              <div class="form-row border-0">
                  <div class="name">Upload Image</div>
                  <div class="value">
                      <div class="input-group js-input-file">
                          <input class="input-file" type="file" name="file_cv" id="file">
                          <label class="label--file" for="file">Choose file</label>
                          <span class="input-file__info">No file chosen</span>
                      </div>
                      <div class="label--desc">Upload an image.</div>
                  </div>
              </div>

              <div class="p-2">
                  <button [disabled]="!formEnd.valid" class="btn btn--radius-2 btn--blue-2" (click)="CreateLead()" > Create Lead</button>
              </div>
            </form>
  </div>
</div>
