<section class="profile-navigation-container">

  <div class="route">
    <xng-breadcrumb separator="/"></xng-breadcrumb>
  </div>

  <div>
    <app-localization></app-localization>
  </div>

  <div class="auth-user-container"  *ngIf="profileJson">
    <div ngbDropdown class="user-details" id="dropdownBasic1" ngbDropdownToggle >

      <div class="name-and-role">
        <span>{{ profileJson.Name }}</span>
        <span>{{ profileJson.Role }}</span>
      </div>

      <!--<img [src]="user.picture" alt="user_picture" >-->

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Settings</button>
        <button (click)="logout()" ngbDropdownItem class="login-button">LogOut</button>
      </div>

    </div>
  </div>

</section>

