<div class="details-container" *ngIf="!isLoading; else loader" >

  <div class="lead-status-date border rounded shadow-sm">

    <div class="alert alert-success p-1 mb-0 " > New </div>

    <ng-template #openStage >Stage: </ng-template>

    <i class="fas fa-info"
    ngbPopover="
    Receved date: 01.07.2021
    Close Date: 10.07.2021
    "
    triggers="mouseenter:mouseleave"
    popoverTitle="More Details" placement="left" ></i>

  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"  >
    <ngb-panel title="Lead Details" id="ngb-panel-0" >
      <ng-template ngbPanelContent>
        <p></p>
        <hr>
        <h5>Delivary Address: </h5>
        <hr>
        <span class="h5" >Value:   </span>
        <input hidden type="number" >
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Client Details" >
      <ng-template ngbPanelContent>
        <app-client-details></app-client-details>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>

<ng-template #loader >
  <app-loading-animation></app-loading-animation>
</ng-template>

