<section class="sidebar-container">

  <section class="logo-container">
    <span>CRM</span>
  </section>

  <section class="navigation-buttons">
    <ul>

      <li placement="right" ngbTooltip="{{ 'sidebar.home' | translate }}" >
        <a routerLink="/dashboard"  >
          <i class="fas fa-home"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="{{ 'lead.leadCreation' | translate }}" >
        <a routerLink="/dashboard/createlead" >
          <i class="far fa-plus-square"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="Leads" >
        <a routerLink="/dashboard/leads" >
          <i class="far fa-list-alt"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="{{'sidebar.statistics' | translate }}" >
        <a routerLink="/dashboard/statistics" >
          <i class="fas fa-chart-pie"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="{{ 'sidebar.users' | translate }}" >
        <a routerLink="/management">
          <i class="fas fa-users"></i>
        </a>
      </li>

    </ul>
  </section>
</section>
