<section class="sidebar-container">

  <section class="logo-container">
    <span>CRM</span>
  </section>

  <section class="navigation-buttons">
    <ul>

      <li placement="right" ngbTooltip="Home" >
        <a routerLink="/dashboard"  >
          <i class="fas fa-home"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="Create Lead" >
        <a routerLink="createlead" >
          <i class="far fa-plus-square"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="Leads" >
        <a routerLink="leads" >
          <i class="far fa-list-alt"></i>
        </a>
      </li>

      <li placement="right" ngbTooltip="Statistics" >
        <a routerLink="statistics" >
          <i class="fas fa-chart-pie"></i>
        </a>
      </li>

    </ul>
  </section>
</section>
