<div class="login-container">
  <div class="login-from-container col-lg-4">

    <mat-card>
      <mat-card-title class="pb-2" style="display: flex; flex-direction: row; justify-content: space-between;">
        LogIn
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>

            <form [formGroup]="loginForm" (submit)="submitForm()">

              <mat-form-field class="form-field mb-3 mt-3">
                <mat-label>{{ 'login.userName' | translate }}</mat-label>
                <input matInput name="userName" formControlName="userName" />

                <mat-error *ngIf="userName?.hasError('required')" >
                  {{ 'login.fieldRequired' | translate }}
                </mat-error>

              </mat-form-field>

              <mat-form-field class="form-field mb-4">
                <mat-label>{{ 'login.password' | translate }}</mat-label>
                <input type="password" name="password" matInput formControlName="password" />

                <mat-error *ngIf="password?.hasError('required')" >
                  {{ 'login.fieldRequired' | translate }}
                </mat-error>
              </mat-form-field>

              <div>
                <app-localization></app-localization>
              </div>

              <button mat-raised-button color="primary" > {{ 'login.buttonText' | translate }} </button>
            </form>

      </mat-card-content>
    </mat-card>

  </div>
</div>

