@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  font-family: 'Krona One', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn-link{
  text-decoration: none !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
