@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  font-family: 'Krona One', sans-serif;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #182444;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #374a7e;
  }
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
}

.btn-link{
  text-decoration: none !important;
}

.btn:disabled:hover{
  cursor: not-allowed;
}

.textarea-style-0 {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
  width: 100%;
  min-height: 150px;
  resize: none;

  &:focus{
    outline: none;
  }
}

.xng-breadcrumb-trail{
  margin-bottom: 0 !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
