<div class="leads-list-section" *ngIf="!isLoading; else loader" >

  <table class="table table-striped">

    <tbody>
      <tr (click)="expend('testLeadId')" *ngFor="let item of leads"  >
        <th scope="row">{{ item.id.toString().split('-')[0] }}</th>
        <td>{{ item.phoneNumber }}</td>
        <td>{{ item.leadStage }}</td>
        <td>{{ item.catchLead | date }}</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex justify-content-between p-2 mb-0 h-100">

    <ngb-pagination >
    </ngb-pagination>

    <select class="custom-select" style="width: auto">
      <option value="6">6 items per page</option>
      <option value="8">8 items per page</option>
      <option value="12">12 items per page</option>
    </select>

  </div>

</div>

<ng-template  #loader>
  <app-loading-animation></app-loading-animation>
</ng-template>
