<div class="leads-list-section">

  <table class="table table-striped">

    <tbody>
      <tr (click)="expend('testLeadId')" >
        <th scope="row">id</th>
        <td>name</td>
        <td>area</td>
        <td>population</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex justify-content-between p-2 mb-0 h-100">

    <ngb-pagination >
    </ngb-pagination>

    <select class="custom-select" style="width: auto">
      <option value="6">6 items per page</option>
      <option value="8">8 items per page</option>
      <option value="12">12 items per page</option>
    </select>

  </div>

</div>
