<div *ngIf="!isLoading; else loader" >

  <div class="notes-wrapper" >
    <div *ngFor="let note of model.notes"  class="note-content border shadow-sm rounded">
      <div class="note-control">

        <app-modal modalName="Edit note"
          [buttonIcon]="modalButtonIcon" >

          <form>
            <textarea autosize class="textarea-style-0" name='content' ></textarea>
          </form>

        </app-modal>

        <fa-icon [icon]="deleteButtonIcon" ></fa-icon>
      </div>
      {{ note?.content }}
    </div>
  </div>

  <app-modal modalName="Add note" buttonName="Add Note"
   (onSubmit)="saveNote()" >

  <form>
    <textarea autosize [(ngModel)]="noteContent" class="textarea-style-0" name='noteContent' ></textarea>
  </form>

  </app-modal>

</div>

<ng-template #loader >
  <app-loading-animation></app-loading-animation>
</ng-template>
